{
  "openapi": "3.0.1",
  "info": {
    "title": "PGW Payment API 4.3",
    "description": "Rest API for PGW payment purpose - LATEST",
    "version": "4.3"
  },
  "servers": [
    {
      "url": "https://sandbox-pgw.2c2p.com",
      "description": "Sandbox server"
    }
  ],
  "paths": {
    "/payment/4.3/applepay/merchantvalidation": {
      "post": {
        "tags": [
          "ApplePay"
        ],
        "summary": "",
        "requestBody": {
          "description": "",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "required": [
                  "paymentToken"
                ],
                "type": "object",
                "properties": {
                  "validationUrl": {
                    "type": "string",
                    "nullable": true
                  },
                  "paymentToken": {
                    "type": "string"
                  },
                  "locale": {
                    "type": "string",
                    "nullable": true
                  },
                  "clientID": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "browserDetails": {
                    "type": "object",
                    "properties": {
                      "deviceType": {
                        "type": "string",
                        "nullable": true
                      },
                      "name": {
                        "type": "string",
                        "nullable": true
                      },
                      "os": {
                        "type": "string",
                        "nullable": true
                      },
                      "version": {
                        "type": "string",
                        "nullable": true
                      }
                    },
                    "additionalProperties": false
                  }
                },
                "additionalProperties": false
              }
            },
            "application/json": {
              "schema": {
                "required": [
                  "paymentToken"
                ],
                "type": "object",
                "properties": {
                  "validationUrl": {
                    "type": "string",
                    "nullable": true
                  },
                  "paymentToken": {
                    "type": "string"
                  },
                  "locale": {
                    "type": "string",
                    "nullable": true
                  },
                  "clientID": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "browserDetails": {
                    "type": "object",
                    "properties": {
                      "deviceType": {
                        "type": "string",
                        "nullable": true
                      },
                      "name": {
                        "type": "string",
                        "nullable": true
                      },
                      "os": {
                        "type": "string",
                        "nullable": true
                      },
                      "version": {
                        "type": "string",
                        "nullable": true
                      }
                    },
                    "additionalProperties": false
                  }
                },
                "additionalProperties": false
              }
            },
            "text/json": {
              "schema": {
                "required": [
                  "paymentToken"
                ],
                "type": "object",
                "properties": {
                  "validationUrl": {
                    "type": "string",
                    "nullable": true
                  },
                  "paymentToken": {
                    "type": "string"
                  },
                  "locale": {
                    "type": "string",
                    "nullable": true
                  },
                  "clientID": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "browserDetails": {
                    "type": "object",
                    "properties": {
                      "deviceType": {
                        "type": "string",
                        "nullable": true
                      },
                      "name": {
                        "type": "string",
                        "nullable": true
                      },
                      "os": {
                        "type": "string",
                        "nullable": true
                      },
                      "version": {
                        "type": "string",
                        "nullable": true
                      }
                    },
                    "additionalProperties": false
                  }
                },
                "additionalProperties": false
              }
            },
            "application/*+json": {
              "schema": {
                "required": [
                  "paymentToken"
                ],
                "type": "object",
                "properties": {
                  "validationUrl": {
                    "type": "string",
                    "nullable": true
                  },
                  "paymentToken": {
                    "type": "string"
                  },
                  "locale": {
                    "type": "string",
                    "nullable": true
                  },
                  "clientID": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "browserDetails": {
                    "type": "object",
                    "properties": {
                      "deviceType": {
                        "type": "string",
                        "nullable": true
                      },
                      "name": {
                        "type": "string",
                        "nullable": true
                      },
                      "os": {
                        "type": "string",
                        "nullable": true
                      },
                      "version": {
                        "type": "string",
                        "nullable": true
                      }
                    },
                    "additionalProperties": false
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "epochTimestamp": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "expiresAt": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "merchantSessionIdentifier": {
                      "type": "string",
                      "nullable": true
                    },
                    "nonce": {
                      "type": "string",
                      "nullable": true
                    },
                    "merchantIdentifier": {
                      "type": "string",
                      "nullable": true
                    },
                    "domainName": {
                      "type": "string",
                      "nullable": true
                    },
                    "displayName": {
                      "type": "string",
                      "nullable": true
                    },
                    "signature": {
                      "type": "string",
                      "nullable": true
                    },
                    "operationalAnalyticsIdentifier": {
                      "type": "string",
                      "nullable": true
                    },
                    "retries": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "pspId": {
                      "type": "string",
                      "nullable": true
                    },
                    "respCode": {
                      "type": "string",
                      "nullable": true
                    },
                    "respDesc": {
                      "type": "string",
                      "nullable": true
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "epochTimestamp": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "expiresAt": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "merchantSessionIdentifier": {
                      "type": "string",
                      "nullable": true
                    },
                    "nonce": {
                      "type": "string",
                      "nullable": true
                    },
                    "merchantIdentifier": {
                      "type": "string",
                      "nullable": true
                    },
                    "domainName": {
                      "type": "string",
                      "nullable": true
                    },
                    "displayName": {
                      "type": "string",
                      "nullable": true
                    },
                    "signature": {
                      "type": "string",
                      "nullable": true
                    },
                    "operationalAnalyticsIdentifier": {
                      "type": "string",
                      "nullable": true
                    },
                    "retries": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "pspId": {
                      "type": "string",
                      "nullable": true
                    },
                    "respCode": {
                      "type": "string",
                      "nullable": true
                    },
                    "respDesc": {
                      "type": "string",
                      "nullable": true
                    }
                  },
                  "additionalProperties": false
                }
              },
              "text/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "epochTimestamp": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "expiresAt": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "merchantSessionIdentifier": {
                      "type": "string",
                      "nullable": true
                    },
                    "nonce": {
                      "type": "string",
                      "nullable": true
                    },
                    "merchantIdentifier": {
                      "type": "string",
                      "nullable": true
                    },
                    "domainName": {
                      "type": "string",
                      "nullable": true
                    },
                    "displayName": {
                      "type": "string",
                      "nullable": true
                    },
                    "signature": {
                      "type": "string",
                      "nullable": true
                    },
                    "operationalAnalyticsIdentifier": {
                      "type": "string",
                      "nullable": true
                    },
                    "retries": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "pspId": {
                      "type": "string",
                      "nullable": true
                    },
                    "respCode": {
                      "type": "string",
                      "nullable": true
                    },
                    "respDesc": {
                      "type": "string",
                      "nullable": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/payment/4.3/cache/cleancache": {
      "post": {
        "tags": [
          "Cache"
        ],
        "summary": "",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/payment/4.3/canceltransaction": {
      "post": {
        "tags": [
          "CancelTransaction"
        ],
        "summary": "",
        "requestBody": {
          "description": "",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "required": [
                  "paymentToken"
                ],
                "type": "object",
                "properties": {
                  "paymentToken": {
                    "type": "string"
                  },
                  "locale": {
                    "type": "string",
                    "nullable": true
                  },
                  "clientID": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "browserDetails": {
                    "type": "object",
                    "properties": {
                      "deviceType": {
                        "type": "string",
                        "nullable": true
                      },
                      "name": {
                        "type": "string",
                        "nullable": true
                      },
                      "os": {
                        "type": "string",
                        "nullable": true
                      },
                      "version": {
                        "type": "string",
                        "nullable": true
                      }
                    },
                    "additionalProperties": false
                  }
                },
                "additionalProperties": false
              }
            },
            "application/json": {
              "schema": {
                "required": [
                  "paymentToken"
                ],
                "type": "object",
                "properties": {
                  "paymentToken": {
                    "type": "string"
                  },
                  "locale": {
                    "type": "string",
                    "nullable": true
                  },
                  "clientID": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "browserDetails": {
                    "type": "object",
                    "properties": {
                      "deviceType": {
                        "type": "string",
                        "nullable": true
                      },
                      "name": {
                        "type": "string",
                        "nullable": true
                      },
                      "os": {
                        "type": "string",
                        "nullable": true
                      },
                      "version": {
                        "type": "string",
                        "nullable": true
                      }
                    },
                    "additionalProperties": false
                  }
                },
                "additionalProperties": false
              }
            },
            "text/json": {
              "schema": {
                "required": [
                  "paymentToken"
                ],
                "type": "object",
                "properties": {
                  "paymentToken": {
                    "type": "string"
                  },
                  "locale": {
                    "type": "string",
                    "nullable": true
                  },
                  "clientID": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "browserDetails": {
                    "type": "object",
                    "properties": {
                      "deviceType": {
                        "type": "string",
                        "nullable": true
                      },
                      "name": {
                        "type": "string",
                        "nullable": true
                      },
                      "os": {
                        "type": "string",
                        "nullable": true
                      },
                      "version": {
                        "type": "string",
                        "nullable": true
                      }
                    },
                    "additionalProperties": false
                  }
                },
                "additionalProperties": false
              }
            },
            "application/*+json": {
              "schema": {
                "required": [
                  "paymentToken"
                ],
                "type": "object",
                "properties": {
                  "paymentToken": {
                    "type": "string"
                  },
                  "locale": {
                    "type": "string",
                    "nullable": true
                  },
                  "clientID": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "browserDetails": {
                    "type": "object",
                    "properties": {
                      "deviceType": {
                        "type": "string",
                        "nullable": true
                      },
                      "name": {
                        "type": "string",
                        "nullable": true
                      },
                      "os": {
                        "type": "string",
                        "nullable": true
                      },
                      "version": {
                        "type": "string",
                        "nullable": true
                      }
                    },
                    "additionalProperties": false
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "invoiceNo": {
                      "type": "string",
                      "nullable": true
                    },
                    "channelCode": {
                      "type": "string",
                      "nullable": true
                    },
                    "respCode": {
                      "type": "string",
                      "nullable": true
                    },
                    "respDesc": {
                      "type": "string",
                      "nullable": true
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "invoiceNo": {
                      "type": "string",
                      "nullable": true
                    },
                    "channelCode": {
                      "type": "string",
                      "nullable": true
                    },
                    "respCode": {
                      "type": "string",
                      "nullable": true
                    },
                    "respDesc": {
                      "type": "string",
                      "nullable": true
                    }
                  },
                  "additionalProperties": false
                }
              },
              "text/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "invoiceNo": {
                      "type": "string",
                      "nullable": true
                    },
                    "channelCode": {
                      "type": "string",
                      "nullable": true
                    },
                    "respCode": {
                      "type": "string",
                      "nullable": true
                    },
                    "respDesc": {
                      "type": "string",
                      "nullable": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/payment/4.3/cardinstallmentplaninfo": {
      "post": {
        "tags": [
          "CardInstallmentPlanInfo"
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "required": [
                  "paymentToken"
                ],
                "type": "object",
                "properties": {
                  "cardNo": {
                    "type": "string",
                    "nullable": true
                  },
                  "bankCode": {
                    "type": "string",
                    "nullable": true
                  },
                  "paymentToken": {
                    "type": "string"
                  },
                  "locale": {
                    "type": "string",
                    "nullable": true
                  },
                  "clientID": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "browserDetails": {
                    "type": "object",
                    "properties": {
                      "deviceType": {
                        "type": "string",
                        "nullable": true
                      },
                      "name": {
                        "type": "string",
                        "nullable": true
                      },
                      "os": {
                        "type": "string",
                        "nullable": true
                      },
                      "version": {
                        "type": "string",
                        "nullable": true
                      }
                    },
                    "additionalProperties": false
                  }
                },
                "additionalProperties": false
              }
            },
            "application/json": {
              "schema": {
                "required": [
                  "paymentToken"
                ],
                "type": "object",
                "properties": {
                  "cardNo": {
                    "type": "string",
                    "nullable": true
                  },
                  "bankCode": {
                    "type": "string",
                    "nullable": true
                  },
                  "paymentToken": {
                    "type": "string"
                  },
                  "locale": {
                    "type": "string",
                    "nullable": true
                  },
                  "clientID": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "browserDetails": {
                    "type": "object",
                    "properties": {
                      "deviceType": {
                        "type": "string",
                        "nullable": true
                      },
                      "name": {
                        "type": "string",
                        "nullable": true
                      },
                      "os": {
                        "type": "string",
                        "nullable": true
                      },
                      "version": {
                        "type": "string",
                        "nullable": true
                      }
                    },
                    "additionalProperties": false
                  }
                },
                "additionalProperties": false
              }
            },
            "text/json": {
              "schema": {
                "required": [
                  "paymentToken"
                ],
                "type": "object",
                "properties": {
                  "cardNo": {
                    "type": "string",
                    "nullable": true
                  },
                  "bankCode": {
                    "type": "string",
                    "nullable": true
                  },
                  "paymentToken": {
                    "type": "string"
                  },
                  "locale": {
                    "type": "string",
                    "nullable": true
                  },
                  "clientID": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "browserDetails": {
                    "type": "object",
                    "properties": {
                      "deviceType": {
                        "type": "string",
                        "nullable": true
                      },
                      "name": {
                        "type": "string",
                        "nullable": true
                      },
                      "os": {
                        "type": "string",
                        "nullable": true
                      },
                      "version": {
                        "type": "string",
                        "nullable": true
                      }
                    },
                    "additionalProperties": false
                  }
                },
                "additionalProperties": false
              }
            },
            "application/*+json": {
              "schema": {
                "required": [
                  "paymentToken"
                ],
                "type": "object",
                "properties": {
                  "cardNo": {
                    "type": "string",
                    "nullable": true
                  },
                  "bankCode": {
                    "type": "string",
                    "nullable": true
                  },
                  "paymentToken": {
                    "type": "string"
                  },
                  "locale": {
                    "type": "string",
                    "nullable": true
                  },
                  "clientID": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "browserDetails": {
                    "type": "object",
                    "properties": {
                      "deviceType": {
                        "type": "string",
                        "nullable": true
                      },
                      "name": {
                        "type": "string",
                        "nullable": true
                      },
                      "os": {
                        "type": "string",
                        "nullable": true
                      },
                      "version": {
                        "type": "string",
                        "nullable": true
                      }
                    },
                    "additionalProperties": false
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "totalChannel": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "name": {
                      "type": "string",
                      "nullable": true
                    },
                    "categoryCode": {
                      "type": "string",
                      "nullable": true
                    },
                    "groupCode": {
                      "type": "string",
                      "nullable": true
                    },
                    "iconUrl": {
                      "type": "string",
                      "nullable": true
                    },
                    "channels": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "sequenceNo": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "name": {
                            "type": "string",
                            "nullable": true
                          },
                          "bankShortName": {
                            "type": "string",
                            "nullable": true
                          },
                          "currencyCodes": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "nullable": true
                          },
                          "iconUrl": {
                            "type": "string",
                            "nullable": true
                          },
                          "logoUrl": {
                            "type": "string",
                            "nullable": true
                          },
                          "payment": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "object",
                                "properties": {
                                  "channelCode": {
                                    "type": "string",
                                    "nullable": true
                                  },
                                  "agentCode": {
                                    "type": "string",
                                    "nullable": true
                                  },
                                  "agentChannelCode": {
                                    "type": "string",
                                    "nullable": true
                                  }
                                },
                                "additionalProperties": false
                              },
                              "input": {
                                "type": "object",
                                "additionalProperties": {},
                                "nullable": true
                              },
                              "validation": {
                                "type": "object",
                                "additionalProperties": {},
                                "nullable": true
                              },
                              "info": {
                                "type": "object",
                                "properties": {
                                  "terms": {
                                    "type": "string",
                                    "nullable": true
                                  },
                                  "promoUrl": {
                                    "type": "string",
                                    "nullable": true
                                  },
                                  "plans": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "sequenceNo": {
                                          "type": "integer",
                                          "format": "int32"
                                        },
                                        "period": {
                                          "type": "integer",
                                          "format": "int32"
                                        },
                                        "interestType": {
                                          "type": "string",
                                          "nullable": true
                                        },
                                        "interestRate": {
                                          "type": "number",
                                          "format": "double"
                                        },
                                        "monthlyAmount": {
                                          "type": "number",
                                          "format": "double"
                                        },
                                        "monthlyInterest": {
                                          "type": "number",
                                          "format": "double"
                                        },
                                        "currencyCode": {
                                          "type": "string",
                                          "nullable": true
                                        },
                                        "label": {
                                          "type": "string",
                                          "nullable": true
                                        },
                                        "terms": {
                                          "type": "string",
                                          "nullable": true
                                        },
                                        "payLaterPeriod": {
                                          "type": "integer",
                                          "format": "int32",
                                          "nullable": true
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "nullable": true
                                  },
                                  "customData": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "sequenceNo": {
                                          "type": "integer",
                                          "format": "int32"
                                        },
                                        "type": {
                                          "type": "string",
                                          "nullable": true
                                        },
                                        "data": {
                                          "type": "string",
                                          "nullable": true
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "nullable": true
                                  },
                                  "provider": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string",
                                        "nullable": true
                                      },
                                      "channels": {
                                        "type": "array",
                                        "items": {
                                          "type": "string"
                                        },
                                        "nullable": true
                                      },
                                      "merchantDetails": {
                                        "type": "object",
                                        "properties": {
                                          "id": {
                                            "type": "string",
                                            "nullable": true
                                          },
                                          "name": {
                                            "type": "string",
                                            "nullable": true
                                          },
                                          "countryCode": {
                                            "type": "string",
                                            "nullable": true
                                          }
                                        },
                                        "additionalProperties": false
                                      },
                                      "transactionDetails": {
                                        "type": "object",
                                        "properties": {
                                          "amount": {
                                            "type": "number",
                                            "format": "double"
                                          },
                                          "currencyCode": {
                                            "type": "string",
                                            "nullable": true
                                          },
                                          "invoiceNo": {
                                            "type": "string",
                                            "nullable": true
                                          },
                                          "description": {
                                            "type": "string",
                                            "nullable": true
                                          }
                                        },
                                        "additionalProperties": false
                                      },
                                      "terms": {
                                        "type": "string",
                                        "nullable": true
                                      },
                                      "termsConsent": {
                                        "type": "boolean"
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "learnMoreUrl": {
                                    "type": "string",
                                    "nullable": true
                                  },
                                  "termsConsent": {
                                    "type": "boolean"
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "isDown": {
                            "type": "boolean"
                          },
                          "checkEligibleOption": {
                            "type": "boolean"
                          },
                          "ippProviderCode": {
                            "type": "string",
                            "nullable": true
                          },
                          "registrationStatus": {
                            "type": "string",
                            "nullable": true
                          },
                          "partnerMerchantRefID": {
                            "type": "string",
                            "nullable": true
                          }
                        },
                        "additionalProperties": false
                      },
                      "nullable": true
                    },
                    "validation": {
                      "type": "object",
                      "properties": {
                        "cardNo": {
                          "type": "object",
                          "properties": {
                            "prefixes": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              },
                              "nullable": true
                            },
                            "regex": {
                              "type": "string",
                              "nullable": true
                            }
                          },
                          "additionalProperties": false
                        },
                        "cardTypes": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "sequenceNo": {
                                "type": "integer",
                                "format": "int32"
                              },
                              "name": {
                                "type": "string",
                                "nullable": true
                              },
                              "prefixes": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "nullable": true
                              },
                              "regex": {
                                "type": "string",
                                "nullable": true
                              },
                              "iconUrl": {
                                "type": "string",
                                "nullable": true
                              }
                            },
                            "additionalProperties": false
                          },
                          "nullable": true
                        }
                      },
                      "additionalProperties": false
                    },
                    "configuration": {
                      "type": "object",
                      "properties": {
                        "payment": {
                          "type": "object",
                          "properties": {
                            "tokenize": {
                              "type": "boolean"
                            },
                            "tokenizeOnly": {
                              "type": "boolean"
                            },
                            "cardTokenOnly": {
                              "type": "boolean"
                            },
                            "immediatePayment": {
                              "type": "boolean"
                            },
                            "fx": {
                              "type": "object",
                              "properties": {
                                "mcp": {
                                  "type": "object",
                                  "properties": {
                                    "active": {
                                      "type": "boolean"
                                    },
                                    "terms": {
                                      "type": "string",
                                      "nullable": true
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "dcc": {
                                  "type": "object",
                                  "properties": {
                                    "active": {
                                      "type": "boolean"
                                    },
                                    "terms": {
                                      "type": "string",
                                      "nullable": true
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "apmMcc": {
                                  "type": "object",
                                  "properties": {
                                    "active": {
                                      "type": "boolean"
                                    },
                                    "terms": {
                                      "type": "string",
                                      "nullable": true
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "additionalProperties": false
                        },
                        "notification": {
                          "type": "object",
                          "properties": {
                            "facebook": {
                              "type": "boolean"
                            },
                            "whatsApp": {
                              "type": "boolean"
                            },
                            "line": {
                              "type": "boolean"
                            }
                          },
                          "additionalProperties": false
                        }
                      },
                      "additionalProperties": false
                    },
                    "respCode": {
                      "type": "string",
                      "nullable": true
                    },
                    "respDesc": {
                      "type": "string",
                      "nullable": true
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "totalChannel": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "name": {
                      "type": "string",
                      "nullable": true
                    },
                    "categoryCode": {
                      "type": "string",
                      "nullable": true
                    },
                    "groupCode": {
                      "type": "string",
                      "nullable": true
                    },
                    "iconUrl": {
                      "type": "string",
                      "nullable": true
                    },
                    "channels": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "sequenceNo": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "name": {
                            "type": "string",
                            "nullable": true
                          },
                          "bankShortName": {
                            "type": "string",
                            "nullable": true
                          },
                          "currencyCodes": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "nullable": true
                          },
                          "iconUrl": {
                            "type": "string",
                            "nullable": true
                          },
                          "logoUrl": {
                            "type": "string",
                            "nullable": true
                          },
                          "payment": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "object",
                                "properties": {
                                  "channelCode": {
                                    "type": "string",
                                    "nullable": true
                                  },
                                  "agentCode": {
                                    "type": "string",
                                    "nullable": true
                                  },
                                  "agentChannelCode": {
                                    "type": "string",
                                    "nullable": true
                                  }
                                },
                                "additionalProperties": false
                              },
                              "input": {
                                "type": "object",
                                "additionalProperties": {},
                                "nullable": true
                              },
                              "validation": {
                                "type": "object",
                                "additionalProperties": {},
                                "nullable": true
                              },
                              "info": {
                                "type": "object",
                                "properties": {
                                  "terms": {
                                    "type": "string",
                                    "nullable": true
                                  },
                                  "promoUrl": {
                                    "type": "string",
                                    "nullable": true
                                  },
                                  "plans": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "sequenceNo": {
                                          "type": "integer",
                                          "format": "int32"
                                        },
                                        "period": {
                                          "type": "integer",
                                          "format": "int32"
                                        },
                                        "interestType": {
                                          "type": "string",
                                          "nullable": true
                                        },
                                        "interestRate": {
                                          "type": "number",
                                          "format": "double"
                                        },
                                        "monthlyAmount": {
                                          "type": "number",
                                          "format": "double"
                                        },
                                        "monthlyInterest": {
                                          "type": "number",
                                          "format": "double"
                                        },
                                        "currencyCode": {
                                          "type": "string",
                                          "nullable": true
                                        },
                                        "label": {
                                          "type": "string",
                                          "nullable": true
                                        },
                                        "terms": {
                                          "type": "string",
                                          "nullable": true
                                        },
                                        "payLaterPeriod": {
                                          "type": "integer",
                                          "format": "int32",
                                          "nullable": true
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "nullable": true
                                  },
                                  "customData": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "sequenceNo": {
                                          "type": "integer",
                                          "format": "int32"
                                        },
                                        "type": {
                                          "type": "string",
                                          "nullable": true
                                        },
                                        "data": {
                                          "type": "string",
                                          "nullable": true
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "nullable": true
                                  },
                                  "provider": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string",
                                        "nullable": true
                                      },
                                      "channels": {
                                        "type": "array",
                                        "items": {
                                          "type": "string"
                                        },
                                        "nullable": true
                                      },
                                      "merchantDetails": {
                                        "type": "object",
                                        "properties": {
                                          "id": {
                                            "type": "string",
                                            "nullable": true
                                          },
                                          "name": {
                                            "type": "string",
                                            "nullable": true
                                          },
                                          "countryCode": {
                                            "type": "string",
                                            "nullable": true
                                          }
                                        },
                                        "additionalProperties": false
                                      },
                                      "transactionDetails": {
                                        "type": "object",
                                        "properties": {
                                          "amount": {
                                            "type": "number",
                                            "format": "double"
                                          },
                                          "currencyCode": {
                                            "type": "string",
                                            "nullable": true
                                          },
                                          "invoiceNo": {
                                            "type": "string",
                                            "nullable": true
                                          },
                                          "description": {
                                            "type": "string",
                                            "nullable": true
                                          }
                                        },
                                        "additionalProperties": false
                                      },
                                      "terms": {
                                        "type": "string",
                                        "nullable": true
                                      },
                                      "termsConsent": {
                                        "type": "boolean"
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "learnMoreUrl": {
                                    "type": "string",
                                    "nullable": true
                                  },
                                  "termsConsent": {
                                    "type": "boolean"
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "isDown": {
                            "type": "boolean"
                          },
                          "checkEligibleOption": {
                            "type": "boolean"
                          },
                          "ippProviderCode": {
                            "type": "string",
                            "nullable": true
                          },
                          "registrationStatus": {
                            "type": "string",
                            "nullable": true
                          },
                          "partnerMerchantRefID": {
                            "type": "string",
                            "nullable": true
                          }
                        },
                        "additionalProperties": false
                      },
                      "nullable": true
                    },
                    "validation": {
                      "type": "object",
                      "properties": {
                        "cardNo": {
                          "type": "object",
                          "properties": {
                            "prefixes": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              },
                              "nullable": true
                            },
                            "regex": {
                              "type": "string",
                              "nullable": true
                            }
                          },
                          "additionalProperties": false
                        },
                        "cardTypes": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "sequenceNo": {
                                "type": "integer",
                                "format": "int32"
                              },
                              "name": {
                                "type": "string",
                                "nullable": true
                              },
                              "prefixes": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "nullable": true
                              },
                              "regex": {
                                "type": "string",
                                "nullable": true
                              },
                              "iconUrl": {
                                "type": "string",
                                "nullable": true
                              }
                            },
                            "additionalProperties": false
                          },
                          "nullable": true
                        }
                      },
                      "additionalProperties": false
                    },
                    "configuration": {
                      "type": "object",
                      "properties": {
                        "payment": {
                          "type": "object",
                          "properties": {
                            "tokenize": {
                              "type": "boolean"
                            },
                            "tokenizeOnly": {
                              "type": "boolean"
                            },
                            "cardTokenOnly": {
                              "type": "boolean"
                            },
                            "immediatePayment": {
                              "type": "boolean"
                            },
                            "fx": {
                              "type": "object",
                              "properties": {
                                "mcp": {
                                  "type": "object",
                                  "properties": {
                                    "active": {
                                      "type": "boolean"
                                    },
                                    "terms": {
                                      "type": "string",
                                      "nullable": true
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "dcc": {
                                  "type": "object",
                                  "properties": {
                                    "active": {
                                      "type": "boolean"
                                    },
                                    "terms": {
                                      "type": "string",
                                      "nullable": true
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "apmMcc": {
                                  "type": "object",
                                  "properties": {
                                    "active": {
                                      "type": "boolean"
                                    },
                                    "terms": {
                                      "type": "string",
                                      "nullable": true
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "additionalProperties": false
                        },
                        "notification": {
                          "type": "object",
                          "properties": {
                            "facebook": {
                              "type": "boolean"
                            },
                            "whatsApp": {
                              "type": "boolean"
                            },
                            "line": {
                              "type": "boolean"
                            }
                          },
                          "additionalProperties": false
                        }
                      },
                      "additionalProperties": false
                    },
                    "respCode": {
                      "type": "string",
                      "nullable": true
                    },
                    "respDesc": {
                      "type": "string",
                      "nullable": true
                    }
                  },
                  "additionalProperties": false
                }
              },
              "text/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "totalChannel": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "name": {
                      "type": "string",
                      "nullable": true
                    },
                    "categoryCode": {
                      "type": "string",
                      "nullable": true
                    },
                    "groupCode": {
                      "type": "string",
                      "nullable": true
                    },
                    "iconUrl": {
                      "type": "string",
                      "nullable": true
                    },
                    "channels": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "sequenceNo": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "name": {
                            "type": "string",
                            "nullable": true
                          },
                          "bankShortName": {
                            "type": "string",
                            "nullable": true
                          },
                          "currencyCodes": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "nullable": true
                          },
                          "iconUrl": {
                            "type": "string",
                            "nullable": true
                          },
                          "logoUrl": {
                            "type": "string",
                            "nullable": true
                          },
                          "payment": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "object",
                                "properties": {
                                  "channelCode": {
                                    "type": "string",
                                    "nullable": true
                                  },
                                  "agentCode": {
                                    "type": "string",
                                    "nullable": true
                                  },
                                  "agentChannelCode": {
                                    "type": "string",
                                    "nullable": true
                                  }
                                },
                                "additionalProperties": false
                              },
                              "input": {
                                "type": "object",
                                "additionalProperties": {},
                                "nullable": true
                              },
                              "validation": {
                                "type": "object",
                                "additionalProperties": {},
                                "nullable": true
                              },
                              "info": {
                                "type": "object",
                                "properties": {
                                  "terms": {
                                    "type": "string",
                                    "nullable": true
                                  },
                                  "promoUrl": {
                                    "type": "string",
                                    "nullable": true
                                  },
                                  "plans": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "sequenceNo": {
                                          "type": "integer",
                                          "format": "int32"
                                        },
                                        "period": {
                                          "type": "integer",
                                          "format": "int32"
                                        },
                                        "interestType": {
                                          "type": "string",
                                          "nullable": true
                                        },
                                        "interestRate": {
                                          "type": "number",
                                          "format": "double"
                                        },
                                        "monthlyAmount": {
                                          "type": "number",
                                          "format": "double"
                                        },
                                        "monthlyInterest": {
                                          "type": "number",
                                          "format": "double"
                                        },
                                        "currencyCode": {
                                          "type": "string",
                                          "nullable": true
                                        },
                                        "label": {
                                          "type": "string",
                                          "nullable": true
                                        },
                                        "terms": {
                                          "type": "string",
                                          "nullable": true
                                        },
                                        "payLaterPeriod": {
                                          "type": "integer",
                                          "format": "int32",
                                          "nullable": true
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "nullable": true
                                  },
                                  "customData": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "sequenceNo": {
                                          "type": "integer",
                                          "format": "int32"
                                        },
                                        "type": {
                                          "type": "string",
                                          "nullable": true
                                        },
                                        "data": {
                                          "type": "string",
                                          "nullable": true
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "nullable": true
                                  },
                                  "provider": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string",
                                        "nullable": true
                                      },
                                      "channels": {
                                        "type": "array",
                                        "items": {
                                          "type": "string"
                                        },
                                        "nullable": true
                                      },
                                      "merchantDetails": {
                                        "type": "object",
                                        "properties": {
                                          "id": {
                                            "type": "string",
                                            "nullable": true
                                          },
                                          "name": {
                                            "type": "string",
                                            "nullable": true
                                          },
                                          "countryCode": {
                                            "type": "string",
                                            "nullable": true
                                          }
                                        },
                                        "additionalProperties": false
                                      },
                                      "transactionDetails": {
                                        "type": "object",
                                        "properties": {
                                          "amount": {
                                            "type": "number",
                                            "format": "double"
                                          },
                                          "currencyCode": {
                                            "type": "string",
                                            "nullable": true
                                          },
                                          "invoiceNo": {
                                            "type": "string",
                                            "nullable": true
                                          },
                                          "description": {
                                            "type": "string",
                                            "nullable": true
                                          }
                                        },
                                        "additionalProperties": false
                                      },
                                      "terms": {
                                        "type": "string",
                                        "nullable": true
                                      },
                                      "termsConsent": {
                                        "type": "boolean"
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "learnMoreUrl": {
                                    "type": "string",
                                    "nullable": true
                                  },
                                  "termsConsent": {
                                    "type": "boolean"
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "isDown": {
                            "type": "boolean"
                          },
                          "checkEligibleOption": {
                            "type": "boolean"
                          },
                          "ippProviderCode": {
                            "type": "string",
                            "nullable": true
                          },
                          "registrationStatus": {
                            "type": "string",
                            "nullable": true
                          },
                          "partnerMerchantRefID": {
                            "type": "string",
                            "nullable": true
                          }
                        },
                        "additionalProperties": false
                      },
                      "nullable": true
                    },
                    "validation": {
                      "type": "object",
                      "properties": {
                        "cardNo": {
                          "type": "object",
                          "properties": {
                            "prefixes": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              },
                              "nullable": true
                            },
                            "regex": {
                              "type": "string",
                              "nullable": true
                            }
                          },
                          "additionalProperties": false
                        },
                        "cardTypes": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "sequenceNo": {
                                "type": "integer",
                                "format": "int32"
                              },
                              "name": {
                                "type": "string",
                                "nullable": true
                              },
                              "prefixes": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "nullable": true
                              },
                              "regex": {
                                "type": "string",
                                "nullable": true
                              },
                              "iconUrl": {
                                "type": "string",
                                "nullable": true
                              }
                            },
                            "additionalProperties": false
                          },
                          "nullable": true
                        }
                      },
                      "additionalProperties": false
                    },
                    "configuration": {
                      "type": "object",
                      "properties": {
                        "payment": {
                          "type": "object",
                          "properties": {
                            "tokenize": {
                              "type": "boolean"
                            },
                            "tokenizeOnly": {
                              "type": "boolean"
                            },
                            "cardTokenOnly": {
                              "type": "boolean"
                            },
                            "immediatePayment": {
                              "type": "boolean"
                            },
                            "fx": {
                              "type": "object",
                              "properties": {
                                "mcp": {
                                  "type": "object",
                                  "properties": {
                                    "active": {
                                      "type": "boolean"
                                    },
                                    "terms": {
                                      "type": "string",
                                      "nullable": true
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "dcc": {
                                  "type": "object",
                                  "properties": {
                                    "active": {
                                      "type": "boolean"
                                    },
                                    "terms": {
                                      "type": "string",
                                      "nullable": true
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "apmMcc": {
                                  "type": "object",
                                  "properties": {
                                    "active": {
                                      "type": "boolean"
                                    },
                                    "terms": {
                                      "type": "string",
                                      "nullable": true
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "additionalProperties": false
                        },
                        "notification": {
                          "type": "object",
                          "properties": {
                            "facebook": {
                              "type": "boolean"
                            },
                            "whatsApp": {
                              "type": "boolean"
                            },
                            "line": {
                              "type": "boolean"
                            }
                          },
                          "additionalProperties": false
                        }
                      },
                      "additionalProperties": false
                    },
                    "respCode": {
                      "type": "string",
                      "nullable": true
                    },
                    "respDesc": {
                      "type": "string",
                      "nullable": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/payment/4.3/cardtokeninfo": {
      "post": {
        "tags": [
          "CardTokenInfo"
        ],
        "summary": "",
        "requestBody": {
          "description": "",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "required": [
                  "paymentToken"
                ],
                "type": "object",
                "properties": {
                  "paymentToken": {
                    "type": "string"
                  },
                  "locale": {
                    "type": "string",
                    "nullable": true
                  },
                  "clientID": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "browserDetails": {
                    "type": "object",
                    "properties": {
                      "deviceType": {
                        "type": "string",
                        "nullable": true
                      },
                      "name": {
                        "type": "string",
                        "nullable": true
                      },
                      "os": {
                        "type": "string",
                        "nullable": true
                      },
                      "version": {
                        "type": "string",
                        "nullable": true
                      }
                    },
                    "additionalProperties": false
                  }
                },
                "additionalProperties": false
              }
            },
            "application/json": {
              "schema": {
                "required": [
                  "paymentToken"
                ],
                "type": "object",
                "properties": {
                  "paymentToken": {
                    "type": "string"
                  },
                  "locale": {
                    "type": "string",
                    "nullable": true
                  },
                  "clientID": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "browserDetails": {
                    "type": "object",
                    "properties": {
                      "deviceType": {
                        "type": "string",
                        "nullable": true
                      },
                      "name": {
                        "type": "string",
                        "nullable": true
                      },
                      "os": {
                        "type": "string",
                        "nullable": true
                      },
                      "version": {
                        "type": "string",
                        "nullable": true
                      }
                    },
                    "additionalProperties": false
                  }
                },
                "additionalProperties": false
              }
            },
            "text/json": {
              "schema": {
                "required": [
                  "paymentToken"
                ],
                "type": "object",
                "properties": {
                  "paymentToken": {
                    "type": "string"
                  },
                  "locale": {
                    "type": "string",
                    "nullable": true
                  },
                  "clientID": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "browserDetails": {
                    "type": "object",
                    "properties": {
                      "deviceType": {
                        "type": "string",
                        "nullable": true
                      },
                      "name": {
                        "type": "string",
                        "nullable": true
                      },
                      "os": {
                        "type": "string",
                        "nullable": true
                      },
                      "version": {
                        "type": "string",
                        "nullable": true
                      }
                    },
                    "additionalProperties": false
                  }
                },
                "additionalProperties": false
              }
            },
            "application/*+json": {
              "schema": {
                "required": [
                  "paymentToken"
                ],
                "type": "object",
                "properties": {
                  "paymentToken": {
                    "type": "string"
                  },
                  "locale": {
                    "type": "string",
                    "nullable": true
                  },
                  "clientID": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "browserDetails": {
                    "type": "object",
                    "properties": {
                      "deviceType": {
                        "type": "string",
                        "nullable": true
                      },
                      "name": {
                        "type": "string",
                        "nullable": true
                      },
                      "os": {
                        "type": "string",
                        "nullable": true
                      },
                      "version": {
                        "type": "string",
                        "nullable": true
                      }
                    },
                    "additionalProperties": false
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "paymentToken": {
                      "type": "string",
                      "nullable": true
                    },
                    "customerToken": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "token": {
                            "type": "string",
                            "nullable": true
                          },
                          "accountNo": {
                            "type": "string",
                            "nullable": true
                          },
                          "name": {
                            "type": "string",
                            "nullable": true
                          },
                          "email": {
                            "type": "string",
                            "nullable": true
                          },
                          "expiry": {
                            "type": "string",
                            "nullable": true
                          },
                          "channelCode": {
                            "type": "string",
                            "nullable": true
                          },
                          "subChannelCode": {
                            "type": "string",
                            "nullable": true
                          },
                          "cardBrand": {
                            "type": "string",
                            "nullable": true
                          },
                          "status": {
                            "type": "string",
                            "nullable": true
                          },
                          "iconUrl": {
                            "type": "string",
                            "nullable": true
                          },
                          "logoUrl": {
                            "type": "string",
                            "nullable": true
                          }
                        },
                        "additionalProperties": false
                      },
                      "nullable": true
                    },
                    "respCode": {
                      "type": "string",
                      "nullable": true
                    },
                    "respDesc": {
                      "type": "string",
                      "nullable": true
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "paymentToken": {
                      "type": "string",
                      "nullable": true
                    },
                    "customerToken": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "token": {
                            "type": "string",
                            "nullable": true
                          },
                          "accountNo": {
                            "type": "string",
                            "nullable": true
                          },
                          "name": {
                            "type": "string",
                            "nullable": true
                          },
                          "email": {
                            "type": "string",
                            "nullable": true
                          },
                          "expiry": {
                            "type": "string",
                            "nullable": true
                          },
                          "channelCode": {
                            "type": "string",
                            "nullable": true
                          },
                          "subChannelCode": {
                            "type": "string",
                            "nullable": true
                          },
                          "cardBrand": {
                            "type": "string",
                            "nullable": true
                          },
                          "status": {
                            "type": "string",
                            "nullable": true
                          },
                          "iconUrl": {
                            "type": "string",
                            "nullable": true
                          },
                          "logoUrl": {
                            "type": "string",
                            "nullable": true
                          }
                        },
                        "additionalProperties": false
                      },
                      "nullable": true
                    },
                    "respCode": {
                      "type": "string",
                      "nullable": true
                    },
                    "respDesc": {
                      "type": "string",
                      "nullable": true
                    }
                  },
                  "additionalProperties": false
                }
              },
              "text/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "paymentToken": {
                      "type": "string",
                      "nullable": true
                    },
                    "customerToken": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "token": {
                            "type": "string",
                            "nullable": true
                          },
                          "accountNo": {
                            "type": "string",
                            "nullable": true
                          },
                          "name": {
                            "type": "string",
                            "nullable": true
                          },
                          "email": {
                            "type": "string",
                            "nullable": true
                          },
                          "expiry": {
                            "type": "string",
                            "nullable": true
                          },
                          "channelCode": {
                            "type": "string",
                            "nullable": true
                          },
                          "subChannelCode": {
                            "type": "string",
                            "nullable": true
                          },
                          "cardBrand": {
                            "type": "string",
                            "nullable": true
                          },
                          "status": {
                            "type": "string",
                            "nullable": true
                          },
[...]
